.Hero-title {
  color: var(--bs-primary);
  font-weight: bold;
}

.Hero-mars {
  color: var(--bs-primary);
}

.Ship-title {
  color: var(--bs-primary);
  font-weight: bold;
}

.Ship-subtitle {
  color: var(--bs-dark);
  font-weight: 300;
  padding-top: 8px;
}

.Card-speed {
  color: var(--bs-secondary);
  font-weight: 600;
}

.Tab .nav-item .nav-link:not(:focus) {
  color: var(--bs-secondary);
}

.CTA {
  // background-color: var(--bs-primary);
  color: var(--bs-light);
  font-weight: 600;
  text-decoration: none;
}

.CTA:hover {
  background-color: transparent;
  color: var(--bs-light);
}
