.NavLink {
  text-decoration: none;
  color: var(--bs-light);
  font-weight: 600;
}

.NavLink:hover {
  color: var(--bs-light);
  border-bottom: 2px solid var(--bs-primary);
}
.NavLink-title {
  color: var(--bs-primary);
}

.navbar .container .NavBrand {
  color: var(--bs-primary);
}
